/* Extra Small */
@media (max-width:47.9em){
	.navbar-default.navbar-custom{
		padding: 0;
	}
}
/* Small */
@media (min-width:48em) and (max-width:61.9em){

}
/* Medium */
@media (min-width:62em) and (max-width:74.9em){}

/* Large */
@media (min-width:75em){

}