/*============================
=            LESS            =
============================*/
@import "components/_variables.less";
@import "bootstrap/variables.less";

/*============================
=            BASE            =
============================*/

html{
	font-size: 100%;
}

body{
	font-family: "Segoe UI",Helvetica,Arial,sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	overflow-x: hidden;
}


ul{
	padding:0
}

ul li{
	list-style-type:none
}

ul,ol{
	margin-bottom:0
}

a:hover, a:focus{
	text-decoration: none;
}

a{
	transition:all 0.3s ease-out
}

img{
	max-width:100%;height:auto
}

blockquote{
	border:none
}
p{
	margin: 0
}
h1,h2,h3{
	text-transform: uppercase;
}
h2{
	text-align: center;
	padding: 10px 0;
	font-style: italic;
	font-size: 43px;
}
h1{
	font-weight: 900;
	font-size: 3rem;
	color: #fff;
	letter-spacing: 3px;
	margin: 0 0 20px 0;
	text-align: center;
	@media (min-width: 768px) {
		font-size: 4rem;
		font-family: 'UTM Bitsumish Pro' Helvetica sans-serif;
		margin-right: 50px;
		-ms-transform:scale(1,.9);
		transform:scale(1,.9); /* W3C */
		-webkit-transform:scale(1,.9); /* Safari and Chrome */
		-moz-transform:scale(1,.9); /* Firefox */
		float: right;
	}
}

.btn{
	border-radius: 20px;
	color: white;
	text-transform: uppercase;
}
.btn-email{
	background-color: #29bbea;
	font-size: 1.8rem;
}

.btn-secure{
	background-color: #ffda2b;
	font-size: 1.8rem;
}
.input-lg{
	height: 60px;
}
/*==============================
=            LAYOUT            =
==============================*/
header{
	background-color: #29bbea;
	padding-top: 60px;
	padding-bottom: 100px;
}

/*=====  number section  ======*/

#number{
	background: #ccdbe4;
	text-align: center;
	padding: 20px 0;
	.col-sm-4{
		color: white;
		p{
			font-size: 1rem;
			@media (min-width: 540px) {
				font-size: 1.5rem;
			}
		}
		p:first-child{
			font-size: 30px;
			line-height: 2rem;
			@media (min-width: 992px) {
				font-size: 62px;
				line-height: 4rem;
			}
		}
	}
	.number_item1, .number_item2, .number_item3{
		padding: 20px;
		@media (min-width: 992px) {
			padding: 60px;
		}
	}
	.number_item1{
		background: url('../img/round1.png') 50% 50% no-repeat ;
		background-size: cover;
	}
	.number_item2{
		background: url('../img/round2.png') 50% 50% no-repeat;
		background-size: cover;
	}
	.number_item3{
		background: url('../img/round2.png') 50% 50% no-repeat;
		background-size: cover;
	}

} /*end number section*/

/*=====  Help section  ======*/
#help{
	font-size: 22px;
	background-color: #fff;
	-webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
	padding: 10px 0 30px;
	p{
		img{
			margin-right: 20px;
		}
	}
} /*end help section*/

#feature{
	text-align: center;
	padding: 30px 0 16px;
	font-size: 23px;
	.row + .row{
		margin-bottom: 30px;
	}
}

#subscribe{
	padding: 70px 0 90px;
	text-align: center;
	background: url('../img/email-bg.png') 0 0 no-repeat;
	background-size: cover;
	color: white;
	font-size: 30px;
	h3{
		line-height: 1.8;
	}
	.email{
		width: 70%;
		margin: 0 auto;
		position: relative;
	}
	input.form-control{
		border-radius: 20px;
		
		margin: 0 auto;
	}
	button{
		position: absolute;
		right: 0;
		top: 0;
		text-transform: uppercase;
	}
}

#duty{
	padding: 30px 0 10px;
	background-color: #29bbea;
	color: #fff;
	font-size: 18px;
	h3{
		margin-left: 80px;
		font-size: 37px;
		font-weight: 900;
		letter-spacing: 3px;
		-ms-transform:scale(1,.9);
	    transform:scale(1,.9); /* W3C */
		-webkit-transform:scale(1,.9); /* Safari and Chrome */
		-moz-transform:scale(1,.9); /* Firefox */
	}
	.contact{
		margin-top: 20px;
		a{
			text-transform: uppercase;
			font-size: 1.5rem;
			display: inline-block;
			color: white;
			padding: 10px;
			border: 3px solid white;
			margin-left: 30px;
		}
	} 

	
}

